@page
@model CatalogOnline.Pages.CoursePageModel
@{
    ViewData["Title"] = "Courses";
  }

<title>@ViewData["Title"]</title>
    <h1 class="text-center">Course List</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Mandatory</th>
                <th>Credits Number</th>
                <th>Year</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.subject</td>
                    <td>@(course.mandatory ? "Yes" : "No")</td>
                    <td>@course.credits_number</td>
                    <td>@course.year</td>
                    <td>
                    <a asp-page="./EditCourse" asp-route-id="@course.course_id" class="btn btn-update btn-spacing">Update</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@course.course_id" onsubmit="return confirm('Are you sure you want to delete this course?');" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                </tr>
            }
        </tbody>
    </table>
<a href="/AddCourse" class="btn btn-success mb-2">Add New Course</a>

