@page
@model CatalogOnline.Pages.DocumentPageModel
@{
    ViewData["Title"] = "Documents";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            <tr>
                <td>@document.title</td>
                <td>@document.type</td>
                <td>@document.date.ToString("dd-MM-yyyy")</td>
                <td>@document.description</td>
                <td>@document.location</td>
                <td>
                    <a asp-page="./EditDocument" asp-route-id="@document.document_id" class="btn btn-update btn-spacing">Update</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@document.document_id" onsubmit="return confirm('Are you sure you want to delete this document?');" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/AddDocument" class="btn btn-success mb-2">Add New Student</a>
