@page
@model CatalogOnline.Pages.EnrollmentPageModel
@{
}
<h1 class="text-center">Enrollment List</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Course ID</th>
            <th>Joined Since</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model.Enrollments)
        {
            <tr>
                <td>@enrollment.user_id</td>
                <td>@enrollment.course_id</td>
                <td>@enrollment.joined_since.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-page="./EditEnrollment" asp-route-id="@enrollment.enrollment_id" class="btn btn-update btn-spacing">Update</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@enrollment.enrollment_id" onsubmit="return confirm('Are you sure you want to delete this enrollment?');" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/AddEnrollment" class="btn btn-success mb-2">Add New Enrollment</a>
